main {
  min-height: 80vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
header {
  min-height: 10vh;
}
.navbar {
  min-height: inherit;
}
footer {
  min-height: 10vh;
}
.selectForm {
  padding: 0.75rem 0.2rem;
}
